*{
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #0f1010;
}
.container{
    color: white;
    display: flex;
    height: 100vh;
    width: calc(100%-15%);
    margin-left:10%;
    justify-content: space-around;
    gap: 50px;
}
.sidebar{
    border-right: 2px solid blue;
    background-color:#006A71;
    /* padding: 25px; */
    border-radius: 5px solid black;
    height: 100%;
    width: 5%;
    position: fixed;
    transition: 0.5s ease;
   
}
.sidebar:hover{
    width: 15%;
}
.sidebar:hover .profile{
    display: block;
}

.nav-bar{
   position: fixed;
}
.profile{
    display: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.profile h2{
    font-weight: 600;
    color: aqua;
    /* width: 0px; */
    margin-bottom: 20px;
}
.profile p{
   
    font-weight: 300px;
    color: white;
    font-size: 15px;;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 15%;
}

.im {
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 10px; */
    width:100%;
    transition: background 0.3s ease;
  }
  
  .im:hover {
    background-color: rgb(243, 14, 14);
    width: calc(100%-15%);
  }
  
  .im img {
    background-color:rgb(249, 246, 246);
    width: 20px;
    height: 20px;
    margin: 5px;

  }
  
  .nav-bar a {
    /* margin-left: 10px; */
    color: aqua;
    text-decoration: none;
    display: none;
    white-space: nowrap;
  }
  
  .sidebar:hover .nav-bar a {
    display: inline;
  }
  .projects{
    display: flex;
    flex-direction: column;
    border: 1px solid #f00606;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    padding: 10px;
    justify-content: space-between;
    transition: 1s ease;
    box-shadow: -0px 5px 12px 1px rgb(208, 7, 7);
    text-align: center;

   
  }
  .projects:hover{
    transform: translateY(-5px);
  }
 .heading{
    height: 0%;
    margin-top: -50px;
    /* margin-left: 70px; */
}
.heading h3{
  text-shadow: 0px 10px 5px blue;

}
.pr-image{
    margin-top: 50px;
    /* padding: 10px; */
}
.projects a{
  display: none;
  transition: 1s ease;
  margin-top: -50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:  rgba(0, 0, 0, 0.6);
  /* width: 100px;
  height: 100px; */
  color: aqua;
  text-decoration: none;
  
}
.projects:hover a{
  display: block;
  transform: translateY(-150px);
}
.overlay{
  display: flex;
  align-items: center;
  justify-content: center;
}
